[Unit]
Description=RescueEd Alert Mailversand alle 10 Sekunden

[Timer]
OnBootSec=10s
OnUnitActiveSec=10s
AccuracySec=1s
Unit=rescueed-alert-mail.service

[Install]
WantedBy=timers.target
